<!--login animation-->
<div class="load" *ngIf="load">
    <div class="cont-img">
        <img src="assets/img/load.gif" />
    </div>
</div>



<div class="screen">
  <div class="console">
    <div class="titleConsole">
      <img src="assets/logoRun.svg" style="    width: 60%;">
</div>

<div class="addplace">
  <button class="btnPLace">ADD PLACE</button>
</div>

<div class="form">
  <span class="placeInfo">PLACE INFORMATION</span>
  <input type="Name" placeholder="Name" [(ngModel)]="name" style="height: 10%">
<input type="Description" placeholder="Description" [(ngModel)]="Description">
<input type="infoSigth" placeholder="Sigth information" [(ngModel)]="infoSigth">
<button class="placeBtn" >
        <input type="file" name="file" id="file" class="inputfile" accept="image/*"/>
        <label for="file" class="milabel">
          CHOOSE A FILE</label>
        </button>
<button class="placeBtn" style="margin-top: 1.5vh;" (click)="save()" *ngIf="!key"> SAVE PLACE</button>
<button class="placeBtn" style="margin-top: 1.5vh;" (click)="update()" *ngIf="key"> UPDATE PLACE</button>

<hr class="placeLine">
</div>


<div class="points">
  <div class="placeInfo">POINTS</div>
  <div class="lista">
    <div class="punto row" *ngFor="let item of listaPuntos" style="align-items: center;" (click)="centerPoint(item.localitation.lat,item.localitation.lng)">
      <div class="col-md-10">
          <span>{{item.name}}</span>
      </div>
      <div class="col-md-2">
        <div class="misvg" >
          
        </div>
      </div>
      
    </div>
  </div>
</div>

</div>









<div class="map" >
  <div id="map"></div>
  <div class="serchdivBig">
    <!--<div class="serchdivMiddle">-->
      <input type="Name" placeholder="Serch" [(ngModel)]="name" class="serchdivMiddle">     
     <i class="ios-search"></i>

    <!--</div>-->
    
  </div>
  
</div>
</div>